.prod-add-div {
    margin: auto;
    border-radius: 25px;
    background-color: var(--panel);
    padding: 20px;
    min-width: 500px;
    height: auto;
    max-height: 80vh;
    box-shadow: 0 10px 25px #515151;
    transition: box-shadow 1s;
}
h2{
    text-align: center;
}