{% extends 'layout.html' %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/form.css' %}"/>
{% endblock %}

{% block main %}

    {% if messages %}
        <div id="container-messages">
            {% for message in messages %}
                <span class="success messages">{{ message }}</span>
            {% endfor %}
        </div>
    {% endif %}

    <div class="form-page">
        <div class="form-div">
            <div class="form-container">
                <form method="POST" class="form-form" novalidate>
                    {% if specs %}
                        <h2 class="form-title-card">{{ specs.product.name }} specifikáció módosítása</h2>
                    {% else %}
                        <h2 class="form-title-card">Új termék specifikáció létrehozása</h2>
                    {% endif %}

                    {% csrf_token %}
                    {% if form.CPU_speed.errors %}
                        {% for error in form.CPU_speed.errors %}
                            <p class="error">{{ error }}</p>
                        {% endfor %}
                    {% endif %}
                    <div class="form-group">
                        {{ form.CPU_speed.label_tag }}
                        {{ form.CPU_speed }}
                    </div>


                    {% if form.CPU_type.errors %}
                        {% for error in form.CPU_type.errors %}
                            <p class="error">{{ error }}</p>
                        {% endfor %}
                    {% endif %}
                    <div class="form-group">
                        {{ form.CPU_type.label_tag }}
                        {{ form.CPU_type }}
                    </div>

                    {% if form.display_size.errors %}
                        {% for error in form.display_size.errors %}
                            <p class="error">{{ error }}</p>
                        {% endfor %}
                    {% endif %}
                    <div class="form-group">
                        {{ form.display_size.label_tag }}
                        {{ form.display_size }}
                    </div>

                    {% if form.resolution.errors %}
                        {% for error in form.resolution.errors %}
                            <p class="error">{{ error }}</p>
                        {% endfor %}
                    {% endif %}
                    <div class="form-group">
                        {{ form.resolution.label_tag }}
                        {{ form.resolution }}
                    </div>

                    {% if form.display_technology.errors %}
                        {% for error in form.display_technology.errors %}
                            <p class="error">{{ error }}</p>
                        {% endfor %}
                    {% endif %}
                    <div class="form-group">
                        {{ form.display_technology.label_tag }}
                        {{ form.display_technology }}
                    </div>

                    {% if form.max_refresh_rate.errors %}
                        {% for error in form.max_refresh_rate.errors %}
                            <p class="error">{{ error }}</p>
                        {% endfor %}
                    {% endif %}
                    <div class="form-group">
                        {{ form.max_refresh_rate.label_tag }}
                        {{ form.max_refresh_rate }}
                    </div>

                    {% if form.Spen.errors %}
                        {% for error in form.Spen.errors %}
                            <p class="error">{{ error }}</p>
                        {% endfor %}
                    {% endif %}
                    <div class="form-group">
                        {{ form.Spen.label_tag }}
                        {{ form.Spen }}
                    </div>

                    {% if form.camera.errors %}
                        {% for error in form.camera.errors %}
                            <p class="error">{{ error }}</p>
                        {% endfor %}
                    {% endif %}
                    <div class="form-group">
                        {{ form.camera.label_tag }}
                        {{ form.camera }}
                    </div>

                    {% if form.memory.errors %}
                        {% for error in form.memory.errors %}
                            <p class="error">{{ error }}</p>
                        {% endfor %}
                    {% endif %}
                    <div class="form-group">
                        {{ form.memory.label_tag }}
                        {{ form.memory }}
                    </div>

                    {% if form.storage.errors %}
                        {% for error in form.storage.errors %}
                            <p class="error">{{ error }}</p>
                        {% endfor %}
                    {% endif %}
                    <div class="form-group">
                        {{ form.storage.label_tag }}
                        {{ form.storage }}
                    </div>

                    {% if form.os.errors %}
                        {% for error in form.os.errors %}
                            <p class="error">{{ error }}</p>
                        {% endfor %}
                    {% endif %}
                    <div class="form-group">
                        {{ form.os.label_tag }}
                        {{ form.os }}
                    </div>

                    {% if form.charge.errors %}
                        {% for error in form.charge.errors %}
                            <p class="error">{{ error }}</p>
                        {% endfor %}
                    {% endif %}
                    <div class="form-group">
                        {{ form.charge.label_tag }}
                        {{ form.charge }}
                    </div>

                    {% if form.sensors.errors %}
                        {% for error in form.sensors.errors %}
                            <p class="error">{{ error }}</p>
                        {% endfor %}
                    {% endif %}
                    <div class="form-group">
                        {{ form.sensors.label_tag }}
                        {{ form.sensors }}
                    </div>

                    {% if form.size.errors %}
                        {% for error in form.size.errors %}
                            <p class="error">{{ error }}</p>
                        {% endfor %}
                    {% endif %}
                    <div class="form-group">
                        {{ form.size.label_tag }}
                        {{ form.size }}
                    </div>

                    {% if form.weight.errors %}
                        {% for error in form.weight.errors %}
                            <p class="error">{{ error }}</p>
                        {% endfor %}
                    {% endif %}
                    <div class="form-group">
                        {{ form.weight.label_tag }}
                        {{ form.weight }}
                    </div>

                    {% if form.battery.errors %}
                        {% for error in form.battery.errors %}
                            <p class="error">{{ error }}</p>
                        {% endfor %}
                    {% endif %}
                    <div class="form-group">
                        {{ form.battery.label_tag }}
                        {{ form.battery }}
                    </div>

                    {% if form.release_date.errors %}
                        {% for error in form.release_date.errors %}
                            <p class="error">{{ error }}</p>
                        {% endfor %}
                    {% endif %}
                    <div class="form-group">
                        {{ form.release_date.label_tag }}
                        {{ form.release_date }}
                    </div>
                    
                    {% if specs %}
                        <button class="btn" type="submit">Specifikáció módosítása</button>
                    {% else %}
                        <button class="btn" type="submit">Specifikáció létrehozása</button>
                    {% endif %}
                </form>
            </div>
        </div>
    </div>
{% endblock %}