{% extends 'layout.html' %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/form.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/form/extenstion.css' %}"/>
{% endblock %}

{% block main %}

    <div class="form-page">
        <div class="form-div">
            <div class="form-container">
                <form method="POST" class="form-form" novalidate>
                    {% if product %}
                        <h2 class="form-title-card">{{product.name}} módosítása</h2>
                    {% else %}
                        <h2 class="form-title-card">Új termék létrehozása</h2>
                    {% endif %}

                    {% csrf_token %}
                    {% if form.name.errors %}
                        {% for error in form.name.errors %}
                            <p class="error">{{ error }}</p>
                        {% endfor %}
                    {% endif %}
                    <div class="form-group">
                        {{ form.name.label_tag }}
                        {{ form.name }}
                    </div>

                    {% if form.price.errors %}
                        {% for error in form.price.errors %}
                            <p class="error">{{ error }}</p>
                        {% endfor %}
                    {% endif %}
                    <div class="form-group">
                        {{ form.price.label_tag }}
                        {{ form.price }}
                    </div>
                    
                    {% if form.category.errors %}
                        {% for error in form.category.errors %}
                            <p class="error">{{ error }}</p>
                        {% endfor %}
                    {% endif %}
                    <div class="form-group">
                        {{ form.category.label_tag }}
                        {{ form.category }}
                    </div>

                    {% if form.colors.errors %}
                        {% for error in form.colors.errors %}
                            <p class="error">{{ error }}</p>
                        {% endfor %}
                    {% endif %}
                    <div class="form-group">
                        {{ form.colors.label_tag }}
                        {{ form.colors }}
                    </div>
                    {% if product %}
                        <button class="btn" type="submit">Termék módosítása</button>
                    {% else %}
                        <button class="btn" type="submit">Termék létrehozása</button>
                    {% endif %}
                </form>
            </div>
        </div>
    </div>
{% endblock %}