{% extends 'layout.html' %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/form.css' %}"/>
{% endblock %}

{% block main %}

    {% if messages %}
        {% for message in messages %}
            <span class="success messages">
                    {{ message }}
                </span>
        {% endfor %}
    {% endif %}

    <div class="form-page">
        <div class="form-div">
            <div class="form-container">
                <form method="POST" class="form-form">
                    <h2 class="form-title-card">Új termék specifikáció létrehozása</h2>
                    {% csrf_token %}

                    <div class="form-group">
                        {{ form.CPU_speed.label_tag }}
                        {{ form.CPU_speed }}
                    </div>
                    <div class="form-group">
                        {{ form.CPU_type.label_tag }}
                        {{ form.CPU_type }}
                    </div>
                    <div class="form-group">
                        {{ form.display_size.label_tag }}
                        {{ form.display_size }}
                    </div>
                    <div class="form-group">
                        {{ form.resolution.label_tag }}
                        {{ form.resolution }}
                    </div>
                    <div class="form-group">
                        {{ form.display_technology.label_tag }}
                        {{ form.display_technology }}
                    </div>
                    <div class="form-group">
                        {{ form.max_refresh_rate.label_tag }}
                        {{ form.max_refresh_rate }}
                    </div>
                    <div class="form-group">
                        {{ form.Spen.label_tag }}
                        {{ form.Spen }}
                    </div>
                    <div class="form-group">
                        {{ form.camera.label_tag }}
                        {{ form.camera }}
                    </div>
                    <div class="form-group">
                        {{ form.memory.label_tag }}
                        {{ form.memory }}
                    </div>
                    <div class="form-group">
                        {{ form.storage.label_tag }}
                        {{ form.storage }}
                    </div>
                    <div class="form-group">
                        {{ form.os.label_tag }}
                        {{ form.os }}
                    </div>
                    <div class="form-group">
                        {{ form.charge.label_tag }}
                        {{ form.charge }}
                    </div>
                    <div class="form-group">
                        {{ form.sensors.label_tag }}
                        {{ form.sensors }}
                    </div>
                    <div class="form-group">
                        {{ form.size.label_tag }}
                        {{ form.size }}
                    </div>
                    <div class="form-group">
                        {{ form.weight.label_tag }}
                        {{ form.weight }}
                    </div>
                    <div class="form-group">
                        {{ form.battery.label_tag }}
                        {{ form.battery }}
                    </div>
                    <div class="form-group">
                        {{ form.release_date.label_tag }}
                        {{ form.release_date }}
                    </div>

                    <button class="btn" type="submit">Specifikáció létrehozása</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}