{% extends 'layout.html' %}

{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'css/cart.css' %}">
{% endblock %}

{% block main %}
    <div id="cart-container">
        <table class="cart-list">
            <tr class="cart-header">
                <th>Termék</th>
                <th>Darabszám</th>
                <th>Szín</th>
                <th>Tárhely</th>
                <th>Ára</th>
                <th>Törlés</th>
            </tr>
            {% if products %}
                {% for item in products %}
                    <tr id="{{ item.id }}" class="cart-items">
                        <td class="product-name">{{ item.product }}</td>
                        <td>{{ item.quantity }} db</td>
                        <td>{{ item.color }}</td>
                        {% if item.storage > 1 %}
                            <td>{{ item.storage }} GB</td>
                        {% else %}
                            {% if item.storage == None %}
                                <td>-</td>
                            {% else %}
                                <td>{{ item.storage }} TB</td>
                            {% endif %}
                        {% endif %}
                        <td>{{ item.price }} Ft</td>
                        <td>
                            <button class="delete-item" data-item-id="{{ item.id }}"><i class="fa fa-trash-o"></i>
                            </button>
                        </td>
                    </tr>
                {% endfor %}
            {% else %}
                <tr class="cart-empty-row">
                    <td colspan="6">
                        <div class="cart-empty">
                            <p class="cart-empty-title">A kosár üres</p>
                        </div>
                    </td>
                </tr>
            {% endif %}
        </table>

        <div class="order-products">
            <p class="total-sum">Végösszeg:
                <span id="cart-total">
                    {% if sum %}
                        {{ sum }}
                    {% else %}
                        0
                    {% endif %}
                </span> Ft
            </p>
            <form action="{% url 'checkout' %}" method="post">
                {% csrf_token %}
                <button type="submit" class="btn">Rendelés leadása</button>
            </form>
        </div>

        
    </div>
    
    <script src="{% static 'js/cart_delete.js' %}"></script>
{% endblock %}