{% extends 'layout.html' %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/details.css' %}">
{% endblock %}


{% block main %}
    <div class="product-container">
        <div class="image-section">
            <img class="product-image-page" src="{% static 'images/' %}{{ product.image_path.0 }}"
                 alt="{{ product.name }}" width="300">

            {% if is_admin == True %}
                <div class="update-button">
                    <a href="{% url 'update_product' product.id %}">
                        <button type="submit" class="btn"> Termék adatok módosítása</button>
                    </a>
                    {% if product.category != "Tartozék" %}
                        <a href="{% url 'update_specs' specs.id %}">
                            <button type="submit" class="btn"> Specifikációs adatok módosítása</button>
                        </a>
                    {% endif %}
                </div>
            {% endif %}

            {% if is_admin == False %}


                <div class="order-section">
                    <form method="post" class="order-form" action="{% url 'add_to_cart' product.id %}" novalidate>
                        {% csrf_token %}

                        <h2>Rendelés</h2>

                        <div class="form-group">

                            {% if error %}
                                <span class="error">{{ error }}</span>
                            {% endif %}
                            <fieldset>
                                <legend>Válassz színt</legend>
                                {% for color in product.colors %}
                                    <input type="radio" name="color" id="{{ color }}" value="{{ color }}">
                                    <label for="{{ color }}">{{ color }}</label>
                                {% endfor %}
                            </fieldset>
                        </div>

                        <div class="form-group">
                            <fieldset>
                                <legend>Válassz tárhelyet</legend>
                                {% for storage in specs.storage %}
                                    <input type="radio" name="storage" id="{{ storage }}" value="{{ storage }}">
                                    <label for="{{ storage }}">
                                        {% if storage > 100 %}
                                            {{ storage }} GB
                                        {% else %}
                                            {{ storage }} TB
                                        {% endif %}
                                    </label>
                                {% endfor %}
                            </fieldset>

                            <div class="order-button">
                                <button type="submit" class="btn"> Megrendelés</button>
                            </div>
                        </div>


                    </form>
                </div>

            {% endif %}
        </div>
        <div class="text-section">
            <h2>{{ product.name }}</h2>
            <p><strong>Ár:</strong> {{ product.price }},-Ft</p>
            <p><strong>Színek:</strong>
                {% for color in product.colors %}
                    <span class="color-badge">{{ color }}</span>
                {% endfor %}
            </p>
            {% if product.category == 'Telefon' %}
                <p class="dropdown-label"><strong>Termék adatok:</strong></p>
                <ul class="spec-list">
                    <li>CPU: {{ product.specs.CPU_type }} @ {{ product.specs.CPU_speed }}</li>
                    <li>Display: {{ product.specs.display_size }} - {{ product.specs.resolution }}
                        ({{ product.specs.display_technology }})
                    </li>
                    <li>Refresh Rate: {{ product.specs.max_refresh_rate }}</li>
                    <li>S Pen Support: {{ product.specs.Spen|yesno:"Igen,Nem" }}</li>
                    <li>Camera: {{ product.specs.camera }}</li>
                    <li>Memory: {{ product.specs.memory|join:", " }}</li>
                    <li>Storage: {{ product.specs.storage|join:", " }}</li>
                    <li>OS: {{ product.specs.os }}</li>
                    <li>Charging: {{ product.specs.charge }}</li>
                    <li>Sensors: {{ product.specs.sensors }}</li>
                    <li>Size: {{ product.specs.size }}</li>
                    <li>Weight: {{ product.specs.weight }} g</li>
                    <li>Battery: {{ product.specs.battery }} mAh</li>
                    <li>Release Date: {{ product.specs.release_date }}</li>
                </ul>
            {% endif %}

        </div>
    </div>
    <script src="{% static 'js/order_product.js' %}"></script>
{% endblock %}

