<!doctype html>
{% load static %}
<html lang="hu">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>
        AI-Powered-Webshop
    </title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}"/>
    {% block extra_css %}{% endblock %}
</head>
<body>
<header>
    <div class="container">
        <nav class="navbar">
            <ul class="nav--list">
                <li class="active"></li>
                <li class="item"><a href="/home/"><i class="fa fa-home"></i> Kezdőlap</a></li>
                {% comment %}
                    <li class="item"><a href="/receipts/">Számlák</a></li>{% endcomment %}
                {% if request.user.is_authenticated and request.user.is_staff %}
                    <li class="item"><a href="/add_product/"><i class="fa fa-cubes"></i>  Termék létrehozása</a></li>
                {% endif %}
                <li class="item"><a href="{% url 'cart' %}"><i class="fa fa-shopping-cart"></i> Kosár</a></li>
                <li class="item"><a href="{% url 'user_update' %}"><i class="fa fa-user-secret"></i> Adatok módosítása</a></li>
                {% comment %}
                    <li class="item"><a href="/order/">Rendelések</a></li>
                    {% if request.user.is_authenticated and request.user.is_superuser %}
                        <li class="item"><a href="/user_list/">Felhasználók listája</a></li>
                    {% endif %}

                    {% if request.user.is_authenticated and not request.user.is_staff %}
                        <li class="item"><a href="/export/report/">Riport generálás</a></li>
                    {% endif %} {% endcomment %}
            </ul>
            <div class="logout">
                <form method="POST" action="{% url 'logout' %}">
                    {% csrf_token %}
                    <button class="btn" id="logout">Kijelentkezés</button>
                </form>
            </div>


        </nav>
    </div>
</header>
<main class="wrap" id="app">
    {% block main %}
    {% endblock %}
</main>
<footer class="footer">
    SZFM-AI-Powered-Webshop 2025
</footer>
</body>
</html>