{% extends 'layout.html' %}

{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'css/cart.css' %}">
{% endblock %}

{% block main %}
    <div id="cart-container">
        <table class="cart-list">
            <tr class="cart-header">
                <th>Termék</th>
                <th>Darabszám</th>
                <th>Szín</th>
                <th>Tárhely</th>
                <th>Státusz</th>
                <th>Rendelés ideje</th>
            </tr>

            {% if orders %}
                {% for order in orders %}
                    <tr class="cart-items">
                        <td>
                            {% for product in order.product.all %}
                                {{ product.name }}{% if not forloop.last %}, {% endif %}
                            {% endfor %}
                        </td>
                        <td>{{ order.quantity }} db</td>
                        <td>
                            {% if order.color %}
                                {{ order.color|join:", " }}
                            {% else %}
                                -
                            {% endif %}
                        </td>
                        {% if order.storage %}
                            <td>
                                {% if order.storage > 100 %}
                                    {{ order.storage }} GB
                                {% else %}
                                    {{ order.storage }} TB
                                {% endif %}
                            </td>
                        {% else %}
                            <td>-</td>
                        {% endif %}
                        <td>{{ order.get_status_display }}</td>
                        <td>{{ order.order_time|date:"Y-m-d H:i" }}</td>
                    </tr>
                {% endfor %}
            {% else %}
                <tr class="cart-items">
                    <td colspan="6">Nincsenek rendeléseid</td>
                </tr>
            {% endif %}
        </table>
    </div>
{% endblock %}
