{% extends "layout.html" %}

{% load static %}

{% block extra_css %}
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'css/user_order.css' %}">
{% endblock %}


{% block main %}
    <div class="orders-container">
        <div class="column">
            <h1 class="column-title" >Feldolgozás alatt</h1>
            {% for order in processing %}
                <div class="card">
                    {% with items=order.items.all %}
                        {% if items %}
                            <strong>
                                {{ items.0.product.name }} X {{ items.0.quantity }} DB
                                {% if items|length > 1 %}
                                    ...
                                {% endif %}
                            </strong><br>
                            <div class="item-list">
                                {% for item in items %}
                                    <p>{{ item.product.name }} × {{ item.quantity }}</p>
                                {% endfor %}
                            </div>
                        {% else %}
                            <strong>No items</strong><br>
                        {% endif %}
                    {% endwith %}
                    <small>Rendelés dátuma: {{ order.order_time|date:"M. j, Y, g:i a" }}</small>
                </div>
                {% empty %}
                <p>Nincs feldolgozás alatt álló termék...</p>
            {% endfor %}
        </div>
        <div class="column">
            <h1 class="column-title">Elküldve</h1>
            {% for order in delivered %}
                <div class="card">
                    {% with items=order.items.all %}
                        {% if items %}
                            <strong>
                                {{ items.0.product.name }} × {{ items.0.quantity }}
                                {% if items|length > 1 %}
                                    ...
                                {% endif %}
                            </strong><br>
                            <div class="item-list">
                                {% for item in items %}
                                    <p>{{ item.product.name }} × {{ item.quantity }}</p>
                                {% endfor %}
                            </div>
                        {% else %}
                            <strong>Nincs termék</strong><br>
                        {% endif %}
                    {% endwith %}
                    <small>Rendelés dátuma: {{ order.order_time|date:"M. j, Y, g:i a" }}</small>
                </div>
                {% empty %}
                <p>Nincs szállítás alatt álló termék ...</p>
            {% endfor %}
        </div>
        <div class="column">
         <h1 class="column-title">Kézbesítve</h1>
            {% for order in deleted %}
                <div class="card">
                    {% with items=order.items.all %}
                        {% if items %}
                            <strong>
                                {{ items.0.product.name }} × {{ items.0.quantity }}
                                {% if items|length > 1 %}
                                    ...
                                {% endif %}
                            </strong><br>
                            <div class="item-list">
                                {% for item in items %}
                                    <p>{{ item.product.name }} × {{ item.quantity }}</p>
                                {% endfor %}
                            </div>
                        {% else %}
                            <strong>Nincs termék</strong><br>
                        {% endif %}
                    {% endwith %}
                    <small>Rendelés dátuma: {{ order.order_time|date:"M. j, Y, g:i a" }}</small>
                </div>
                {% empty %}
                <p>Nincs kiszállított termék...</p>
            {% endfor %}
        </div>
    </div>
    <script src="{% static 'js/user_order.js' %}"></script>
{% endblock %}