{% extends 'forgot_password/base.html' %}
{% load static %}
{% block extra_css %}<link rel="stylesheet" href="{% static 'css/form.css' %}"/>{% endblock %}
{% block content %}
    <div class="form-page">
        <div class="form-div">
            <div class="form-container">
                <h2>Jelszó visszaállítása</h2>
                <p>Add meg a fiókodhoz tartozó e-mail címet. Ha létezik fiók, küldünk egy linket.</p>
                <form method="post" class="form-form">{% csrf_token %}
                    <label for="id_email">E-mail</label>
                    <div class="form-group">
                        <input type="email" name="email" id="id_email" required>
                    </div>
                    <button class="btn" type="submit">Küldés</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}