{% extends 'registration/base.html' %}
{% block title %}Ellenőrizd az e-mailjeidet{% endblock %}
{% block extra_css %}
    <style>
        .centered {
            background: none !important;
        }
        .wrap {
            height: 80vh;
        }
    </style>
{% endblock %}
{% block content %}
    <div class="centered">
        <div class="card shadow-sm rounded">
            <h2>Ellenőrizd az e-mailjeidet</h2>
            <p class="text-muted">
                Ha van ilyen fiók, elküldtünk egy jelszó-visszaállító linket az e-mail címedre.
            </p>
        </div>
    </div>
{% endblock %}