{% extends 'registration/base.html' %}
{% block title %}Kész{% endblock %}
{% block extra_css %}
    <style>
        .centered {
            background: none !important;
        }
        .wrap {
            height: 80vh;
        }
    </style>
{% endblock %}
{% block content %}
    <div class="centered">
        <div class="card shadow-sm rounded">
            <h2>Sikeresen megváltoztatva</h2>
            <p class="text-muted">Most már bejelentkezhetsz az új jelszóval.</p>
            <p>
                <a href="{% url 'login' %}">Bejelentkezés</a>
            </p>
        </div>
    </div>
{% endblock %}